<header class="navbar-fixed-top row">
        <div class="container">
            <div class="row">
                <div class="header_top">
                    <div class="col-md-2">
                        <!-- Show transition "sudden-appear" here on scroll after initial Intro section -->
                        <div class="logo_img">
                            <a href="#"><img id="logo" src="/Images/sogeti-logo.png" alt="logoimage"></a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="menu_bar">
                            <nav role="navigation" class="navbar navbar-default fill">
                                <div class="navbar-header">
                                    <button id="menu_slide" aria-controls="navbar" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                        <span class="sr-only"> Toggle navigation </span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/home"> Home </a></li>
                                        <li><a href="/regulator"> Regulator </a></li>
                                        <li><a href="/consultant"> Consultant </a></li>
                                        <li class="dropdown">
                                            <a class="js-target-scroll dropdown-toggle" data-toggle="dropdown"> 
                                                <i class="fa fa-chevron-down"></i> Company 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/market">Go To Market</a></li>
                                                <li><a href="/company">Go to Dashboard</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="js-target-scroll dropdown-toggle" data-toggle="dropdown">                                                 
                                                 <i class="fa fa-chevron-down"></i> Client
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/market/1">Go To Market</a></li>
                                                <li><a href="/client">Go to Dashboard</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- <nav style="background-color:#0070AD" role="navigation">
            <div class="nav-wrapper container">
                <a href="#">
                    <img id="logo" src="/tuna-app/client/Images/sogeti-logo-white.png" alt="logoimage">
                </a>
            </div>
        </nav> -->