<!-- Show peers dashboard -->

<link href="../../CSS/market.css" rel="stylesheet">  

<div class="container app-blue" ng-init="init()">
    <h1 >Market</h2>
    <div class="row">
               <!-- Table Search -->
               <div class="table-search col-md-12">
                    <select id="asset-filter" class="filter-box col-md-2 pull-right">
                        <option class="filter-box-option" value="All">All</option>
                        <option class="filter-box-option" value="Latest">Latest</option>
                        <option class="filter-box-option" value="MostReviewed">Most Reviewed</option>
                        <option class="filter-box-option" value="BA">BA Developer</option>
                        <option class="filter-box-option" value="BI">BI Developer</option>
                        <option class="filter-box-option" value="Blockchain">Blockchain Developer</option>
                        <option class="filter-box-option" value="Cloud">Cloud Developer</option>
                        <option class="filter-box-option" value="Mobile">Mobile Developer</option>
                        <option class="filter-box-option" value="Mobile">Web Developer</option>
                    </select>
                    <label class="label filter-search pull-right" for="asset-filter"> Filter: </label>
                    
                    <label class="label filter-search pull-left" for="asset-filter"> Search: </label>
                    <div class="search-bar col-md-6 pull-left">
                        <input id="asset-search" class="form-control" type="text" placeholder="Search" aria-label="Search The Decentralized Consultant Market">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
            </div>        

        <!-- Amazon Whole Foods View -->
        <div class="table-assets col-md-12" style="border: none;">
            <div class="responsive-category col-md-2 pull-left ">
                <div class="responsive-category-row"><h2>Latest</h2></div>
                <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-user"></i> </div>
            </div>
            <div class="responsive col-md-9 pull-left">
                <div class="responsive-content" ng-repeat="consultant in Consultants | orderBy: '-DateCreated'">
                    <div class="responsive-content-row">
                        <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                        <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                    </div>
                    <div class="responsive-content-row avatar">
                        <div class="col-md-3"></div>
                        <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                        <div class="col-md-3"></div>
                        <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                    </div>
                    <div class="responsive-content-row">
                        <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                        <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                            ${{ consultant.RatePerHour }}/hr
                        </button>
                        <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}" >
                            Request
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-assets col-md-12" style="border: none;">
                <div class="col-md-2 pull-left responsive-category">
                    <div class="responsive-category-row"><h2>Most Reviewed</h2></div>
                    <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-list"></i> </div>
                </div>
                <div class="responsive col-md-9 pull-left">
                        <div class="responsive-content" ng-repeat="consultant in Consultants | orderBy: '-ConsultantLevel'">
                            <div class="responsive-content-row">
                                <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                            </div>
                            <div class="responsive-content-row avatar">
                                <div class="col-md-3"></div>
                                <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                <div class="col-md-3"></div>
                                <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                            </div>
                            <div class="responsive-content-row">
                                <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                    ${{ consultant.RatePerHour }}/hr
                                </button>
                                <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="table-assets col-md-12" style="border: none;">
                    <div class="col-md-2 pull-left responsive-category">
                        <div class="responsive-category-row"><h2>Business Analyst (BA) </h2></div>
                        <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-stats"></i> </div>
                    </div>
                    <div class="responsive col-md-9 pull-left">
                            <div class="responsive-content" ng-repeat="consultant in Consultants | filter:{SkillType:'BA'}:true">
                                <div class="responsive-content-row">
                                    <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                    <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                                </div>
                                <div class="responsive-content-row avatar">
                                    <div class="col-md-3"></div>
                                    <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                    <div class="col-md-3"></div>
                                    <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                                </div>
                                <div class="responsive-content-row">
                                    <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                    <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                        ${{ consultant.RatePerHour }}/hr
                                    </button>
                                    <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                                </div>
                            </div>
                            <div class="responsive-content"></div>
                            <div class="responsive-content"></div>
                        </div>
                </div>
                <div class="table-assets col-md-12" style="border: none;">
                    <div class="col-md-2 pull-left responsive-category">
                        <div class="responsive-category-row"><h2>Business Intelligence (BI) </h2></div>
                        <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-tasks"></i> </div>
                    </div>
                    <div class="responsive col-md-9 pull-left">
                            <div class="responsive-content" ng-repeat="consultant in Consultants | filter:{SkillType:'BI'}:true">
                                <div class="responsive-content-row">
                                    <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                    <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                                </div>
                                <div class="responsive-content-row avatar">
                                    <div class="col-md-3"></div>
                                    <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                    <div class="col-md-3"></div>
                                    <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                                </div>
                                <div class="responsive-content-row">
                                    <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                    <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                        ${{ consultant.RatePerHour }}/hr
                                    </button>
                                    <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                                </div>
                            </div>
                            <div class="responsive-content"></div>
                            <div class="responsive-content"></div>
                        </div>
                </div>
                <div class="table-assets col-md-12" style="border: none;">
                    <div class="col-md-2 pull-left responsive-category">
                        <div class="responsive-category-row"><h2>Blockchain </h2></div>
                        <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-link"></i> </div>
                    </div>
                    <div class="responsive col-md-9 pull-left">
                            <div class="responsive-content" ng-repeat="consultant in Consultants | filter:{SkillType:'Blockchain'}:true">
                                <div class="responsive-content-row">
                                    <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                    <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                                </div>
                                <div class="responsive-content-row avatar">
                                    <div class="col-md-3"></div>
                                    <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                    <div class="col-md-3"></div>
                                    <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                                </div>
                                <div class="responsive-content-row">
                                    <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                    <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                        ${{ consultant.RatePerHour }}/hr
                                    </button>
                                    <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                                </div>
                            </div>
                            <div class="responsive-content"></div>
                            <div class="responsive-content"></div>
                        </div>
                </div>
                <div class="table-assets col-md-12" style="border: none;">
                        <div class="col-md-2 pull-left responsive-category">
                            <div class="responsive-category-row"><h2>Cloud </h2></div>
                            <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-cloud"></i> </div>
                        </div>
                        <div class="responsive col-md-9 pull-left">
                                <div class="responsive-content" ng-repeat="consultant in Consultants | filter:{SkillType:'Cloud'}:true">
                                    <div class="responsive-content-row">
                                        <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                        <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                                    </div>
                                    <div class="responsive-content-row avatar">
                                        <div class="col-md-3"></div>
                                        <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                        <div class="col-md-3"></div>
                                        <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                                    </div>
                                    <div class="responsive-content-row">
                                        <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                        <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                            ${{ consultant.RatePerHour }}/hr
                                        </button>
                                        <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                                    </div>
                                </div>
                                <div class="responsive-content"></div>
                            </div>
                    </div>
                <div class="table-assets col-md-12" style="border: none;">
                    <div class="col-md-2 pull-left responsive-category">
                        <div class="responsive-category-row"><h2>Mobile </h2></div>
                        <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-phone"></i> </div>
                    </div>
                    <div class="responsive col-md-9 pull-left">
                            <div class="responsive-content" ng-repeat="consultant in Consultants | filter:{SkillType:'Mobile'}:true">
                                <div class="responsive-content-row">
                                    <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                    <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                                </div>
                                <div class="responsive-content-row avatar">
                                    <div class="col-md-3"></div>
                                    <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                    <div class="col-md-3"></div>
                                    <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                                </div>
                                <div class="responsive-content-row">
                                    <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                    <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                        ${{ consultant.RatePerHour }}/hr
                                    </button>
                                    <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                                </div>
                            </div>
                            <div class="responsive-content"></div>
                            <div class="responsive-content"></div>
                        </div>
                </div>
                <div class="table-assets col-md-12" style="border: none;">
                    <div class="col-md-2 pull-left responsive-category">
                        <div class="responsive-category-row"><h2>Web </h2></div>
                        <div class="responsive-category-row-icon"><i class="glyphicon glyphicon-globe"></i> </div>
                    </div>
                    <div class="responsive col-md-9 pull-left">
                            <div class="responsive-content" ng-repeat="consultant in Consultants | filter:{SkillType:'Web'}:true">
                                <div class="responsive-content-row">
                                    <i class="glyphicon pull-left col-sm-4 col-md-4 {{ consultant.SkillType | iconType }}"></i>
                                    <span class="pull-right col-sm-4 col-md-4"> {{ consultant.DateCreated }} </span>
                                </div>
                                <div class="responsive-content-row avatar">
                                    <div class="col-md-3"></div>
                                    <img class="col-md-6" ng-src="../../Images/{{consultant.AvatarImage}}" alt="Consultant">
                                    <div class="col-md-3"></div>
                                    <span class="col-md-12">{{ consultant.FirstName + ' ' + consultant.LastName }}</span>
                                </div>
                                <div class="responsive-content-row">
                                    <img class="pull-left col-sm-4 col-md-4" src="../../Images/sogeti-logo.png" alt="">
                                    <button ng-hide="IsClient()" class="pull-right col-sm-4 col-md-4 btn btn-warning" data-id="{{consultant.Id}}" disabled>
                                        ${{ consultant.RatePerHour }}/hr
                                    </button>
                                    <button ng-show="IsClient()" ng-click="StartRequest(consultant.Id)" class="pull-right col-sm-4 col-md-4 btn btn-success request-btn" data-id="{{consultant.Id}}">Request</button>
                                </div>
                            </div>
                            <div class="responsive-content"></div>
                        </div>
                </div>
        
        <!-- Market Table > -->
        <div class="table-assets col-md-12">
                <table id="market-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date Added</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Rating</th>
                            <th>Consultant Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="consultant in Consultants">
                            <td>{{ consultant.DateCreated }}</td>
                            <td>{{ consultant.FirstName }}</td>
                            <td>{{ consultant.LastName }}</td>
                            <td>{{ consultant.SkillLevel | devLevel }}</td>
                            <td>{{ consultant.SkillType | devType }}</td>                           
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

<!-- Modal(s) -->
<modal name="request-consultant"></modal>
<modal name="request-success"></modal>

  <!-- 
      TODO: Implement Request Process
            - Style Modal (boot box)
            -  
      TODO: Add "Create SOW" Smart Contract method 
      TODO: Fix filter(s) on page
            - Select list on-change must show the proper category or cateogories (All) 
            - Search list must show available people within categories? 
   -->