<!-- Central Modal Small -->
<div class="modal fade" id="addConsultantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-md" role="document">
    
    
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100">Add Consultant</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!--Form Logic-->
                <form>
                    <div class="md-form mb-5 form-group pull-left">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input id="FirstName" type="text" class="form-control" ng-model="newConsultant.FirstName">
                        <label data-error="wrong" data-success="right" for="FirstName"> First Name </label>
                    </div>
                    <div class="md-form mb-5 form-group pull-left">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input id="LastName" type="text" class="form-control" ng-model="newConsultant.LastName">
                        <label data-error="wrong" data-success="right" for="LastName"> Last Name </label>
                    </div>
                    <div class="md-form mb-5 form-group pull-left">
                        <i class="fa fa-vcard prefix grey-text"></i>
                        <input id="Title" type="text" class="form-control" ng-model="newConsultant.Title"/>
                        <label data-error="wrong" data-success="right" for="Title"> Title: </label>
                    </div>
                    <div class="md-form mb-5 form-group pull-left">
                        <i class="fa fa-usd prefix grey-text"></i>
                        <input id="RatePerHour" type="text" class="form-control" ng-model="newConsultant.RatePerHour"/>
                        <label data-error="wrong" data-success="right" for="RatePerHour"> Rate Per Hour: </label>
                    </div>
                    <div class="md-form mb-5 form-group pull-left">
                        <i class="fa fa-code prefix grey-text"></i>
                        <input id="SkillType" type="text" class="form-control" ng-model="newConsultant.SkillType"/>
                        <label data-error="wrong" data-success="right" for="SkillType"> Skill Type: </label>
                    </div>
                    <div class="md-form mb-5 form-group pull-left">
                        <i class="fa fa-star prefix grey-text"></i>
                        <input id="SkillLevel" type="text" class="form-control" ng-model="newConsultant.SkillLevel"/>
                        <label data-error="wrong" data-success="right" for="SkillLevel"> Skill Level: </label>
                    </div>
                    <div class="md-form mb-4 form-group pull-left">
                        <i class="fa fa-list prefix grey-text"></i>
                        <input id="Skill1" type="text" class="form-control" ng-model="newConsultant.Skill1"/>
                        <label data-error="wrong" data-success="right" for="Skill1"> Skill 1: </label>
                    </div>
                    <div class="md-form mb-4 form-group pull-left">
                            <i class="fa fa-list prefix grey-text"></i>
                            <input id="Skill2" type="text" class="form-control" ng-model="newConsultant.Skill2"/>
                            <label data-error="wrong" data-success="right" for="Skill2"> Skill 2: </label>
                        </div>
                        <div class="md-form mb-4 form-group pull-left">
                                <i class="fa fa-list prefix grey-text"></i>
                                <input id="Skill3" type="text" class="form-control" ng-model="newConsultant.Skill3"/>
                                <label data-error="wrong" data-success="right" for="Skill3"> Skill 3: </label>
                            </div>
                    <br>
                </form>
                <!--./Form Logic-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success btn-sm" ng-click="SubmitNewConsultant()">Add Consultant</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Central Modal Small -->