<!-- Modal: modalQuickView -->
<div class="modal fade" id="requestConsultantModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mx-3">
        <div class="row">
          <div class="col-lg-5">
            <img class="" ng-src="../../Images/{{requestConsultant.AvatarImage}}" alt="Consultant">
            <ul class="nav nav-tabs md-tabs nav-justified app-blue-bg" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" data-target="#biographyTab" role="tab"><i class="fa fa-user"></i> Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#certificationTab" role="tab"><i class="fa fa-heart"></i> Cert(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#skillTab" role="tab"><i class="fa fa-envelope"></i> Skill(s)</a>
                </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content">
                <!--Panel 1-->
                <div class="tab-pane app-blue-border fade in show active" id="biographyTab" role="tabpanel">
                    <br>
                    <p>Words, words, words</p>
                </div>
                <!--/.Panel 1-->
                <!--Panel 2-->
                <div class="tab-pane app-blue-border fade in" id="certificationTab" role="tabpanel">
                    <br>
                    <p>Words, words, words</p>
                </div>
                <!--/.Panel 2-->
                <!--Panel 3-->
                <div class="tab-pane app-blue-border fade in" id="skillTab" role="tabpanel">
                    <br>
                    <p> {{ requestConsultant.Skill1 }} </p>
                </div>
                <!--/.Panel 3-->
            </div>
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              <strong>{{ requestConsultant.FirstName + ' ' + requestConsultant.LastName + ' - ' + requestConsultant.SkillType }}</strong>
            </h2>
            <h4 class="h4-responsive">
              <span class="green-text">
                <strong>${{ requestConsultant.Discount }}</strong>
              </span>
              <span class="grey-text">
                <small>
                  <s>${{ requestConsultant.RatePerHour }}</s>
                </small>
              </span>
              <span class="pull-right">
                Experience: {{ requestConsultant.SkillLevel | devLevel }}
              </span>
            </h4>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs md-tabs nav-justified cyan" role="tablist">
                <li class="nav-item app-blue-bg">
                    <a class="nav-link active" data-toggle="tab" data-target="#requestFormTab" role="tab">
                    <i class="fa fa-tasks"></i> Request Form </a>
                </li>
            </ul>
            <!-- Nav tabs -->
            <!-- Tab panels -->
            <div class="tab-content">    
                <!-- Panel 1 -->
                <div class="tab-pane app-blue-border fade in show active" id="requestFormTab" role="tabpanel">
                    <br>
                    <!-- Form Logic -->
                    <form>
                        <div class="md-form mb-5 form-group pull-left">
                            <i class="fa fa-calendar prefix grey-text"></i>
                            <input id="StartDate" type="text" id="date-picker-example" class="form-control datepicker" ng-model="request.StartDate">
                            <label data-error="wrong" data-success="right" for="StartDate"> Start Date </label>
                        </div>
                        <div class="md-form mb-5 form-group pull-right">
                            <i class="fa fa-calendar prefix grey-text"></i>
                            <input id="EndDate" type="text" id="date-picker-example" class="form-control datepicker" ng-model="request.EndDate">
                            <label data-error="wrong" data-success="right" for="EndDate"> End Date </label>
                        </div>
    

                        <div class="form-group form-group-textarea">
                            <i class="fa -tasks prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="requestDescription">Project Description: </label>
                            <textarea class="form-control rounded-0" rows="10" id="requestDescription"  ng-model="request.Description"></textarea>
                        </div>
                         <div class="md-form mb-5 form-group requirements">
                            <input id="Requirement1" type="text" value="" ng-model="request.Requirement1"/>
                            <label data-error="wrong" data-success="right"> Requirement 1: </label>
                        </div>
                        <div class="md-form mb-5 form-group requirements">
                          <input id="Requirement2" type="text" value="" ng-model="request.Requirement2"/>
                          <label data-error="wrong" data-success="right"> Requirement 2: </label>
                        </div>
                        <div class="md-form mb-5 form-group requirements">
                            <input id="Requirement3" type="text" value="" ng-model="request.Requirement3"/>
                            <label data-error="wrong" data-success="right"> Requirement 3: </label>
                        </div>

                        <div class="form-group form-check pull-left">  
                            <input type="checkbox" class="form-check-input" id="materialUnchecked" ng-model="request.RequireFullTime">
                            <label class="form-check-label" for="materialUnchecked">Require Full-Time?</label>
                        </div>
                        <br>
                    </form>
                    
                    <!-- Requirement(s) Table > -->
                    <!-- <div class="table-requirements col-md-12">
                        <table id="requirement-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Requirement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td></td></tr>
                                <tr><td><input type="text" value="" ng-model="request.Requirement2"/></td></tr>
                                <tr><td><input type="text" value="" ng-model="request.Requirement3"/></td></tr>
                            </tbody>
                        </table>
                      </div> -->
                </div>
                <!--/.Panel 1-->                
            </div>
            <!-- Tab panels -->

            <!-- Add to Cart -->
            <div class="card-body">
              <div class="text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button class="btn btn-primary app-blue-bg" ng-click="SubmitRequest()"> Place Request
                  <i class="fa fa-send-o ml-2" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










              