<div class="col-md-3">
        <ul class="nav md-pills pills-primary flex-column" role="tablist">
            <li class="nav-item nav-yellow">
                <a class="nav-link active" data-toggle="tab" data-target="#allConsultantsTab" role="tab">All
                <!-- <i class="fa fa-download ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item nav-yellow">
                <a class="nav-link" data-toggle="tab" data-target="#consultantLatestTab" role="tab">Latest
                <!-- <i class="fa fa-file-text ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item nav-yellow">
                <a class="nav-link" data-toggle="tab" data-target="#atoTab" role="tab">ATO
                <!-- <i class="fa fa-address-card ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item nav-yellow">
                <a class="nav-link" data-toggle="tab" data-target="#billableTab">Billable
                    <!-- <i class="fa fa-address-card ml-2"></i> -->
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <!-- Tab panels -->
        <div class="tab-content vertical">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="allConsultantsTab" role="tabpanel">

                <h5 class="my-2 h5">Panel 1</h5>

            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane in fade" id="consultantLatestTab" role="tabpanel">

                <h5 class="my-2 h5">Panel 2</h5>

            </div>
            <!--/.Panel 2-->
            <!--Panel 3-->
            <div class="tab-pane in fade" id="atoTab" role="tabpanel">

                <h5 class="my-2 h5">Panel 3</h5>

            </div>
            <!--/.Panel 3-->
             <!--Panel 4-->
             <div class="tab-pane in fade" id="billableTab" role="tabpanel">

                    <h5 class="my-2 h5">Panel 4</h5>

                </div>
                <!--/.Panel 4-->
        </div>
    </div>