<div class="col-md-3">
        <div class="panel-heading">
                Filter Contracts
        </div>
        <ul class="nav md-pills pills-primary flex-column nav-list-options" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" data-target="#allContractsTab" role="tab">All
                <!-- <i class="fa fa-download ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#latestContractsTab" role="tab">Latest
                <!-- <i class="fa fa-file-text ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#clientTab" role="tab">Client
                <!-- <i class="fa fa-address-card ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#requestTab">Requested
                    <!-- <i class="fa fa-address-card ml-2"></i> -->
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#proposedTab">Proposed
                        <!-- <i class="fa fa-address-card ml-2"></i> -->
                    </a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#canceledTab">Canceled
                        <!-- <i class="fa fa-address-card ml-2"></i> -->
                    </a>
                </li>
        </ul>
    </div>
    <div class="col-md-9">
        <!-- Tab panels -->
        <div class="tab-content vertical">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="allContractsTab" role="tabpanel">

                    <div class="panel-heading">
                            All Contracts
                    </div>
                    <div class="panel-body">

                    </div>

            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane in fade" id="latestContractsTab" role="tabpanel">

                    <div class="panel-heading">
                            Latest Contracts
                    </div>
                    <div class="panel-body">

                    </div>
            </div>
            <!--/.Panel 2-->
            <!--Panel 3-->
            <div class="tab-pane in fade" id="clientTab" role="tabpanel">

                    <div class="panel-heading">
                            Client Contracts
                    </div>
                    <div class="panel-body">

                    </div>
            </div>
            <!--/.Panel 3-->
             <!--Panel 4-->
             <div class="tab-pane in fade" id="requestTab" role="tabpanel">

                    <div class="panel-heading">
                            Requested Consultants
                    </div>
                    <div class="panel-body">

                    </div>

                </div>
                <!--/.Panel 4-->
                 <!--Panel 5-->
             <div class="tab-pane in fade" id="proposedTab" role="tabpanel">

                    <div class="panel-heading">
                            Proposed Consultants
                    </div>
                    <div class="panel-body">

                    </div>

                </div>
                <!--/.Panel 5-->
                 <!--Panel 6-->
                <div class="tab-pane in fade" id="canceledTab" role="tabpanel">

                        <div class="panel-heading">
                                Canceled Contracts
                        </div>
                        <div class="panel-body">
    
                        </div>
    
                    </div>
                    <!--/.Panel 6-->
        </div>
    </div>